
/* Style dasar tombol */
.custom-btn-awal {
    background-color: #007bff; /* Warna biru */
    color: white; /* Warna teks putih */
    border: none; /* Hilangkan border */
    padding: 10px 20px; /* Padding untuk ukuran tombol */
    border-radius: 5px; /* Sudut tombol yang sedikit melengkung */
    cursor: pointer; /* Ubah kursor saat dihover */
    transition: background-color 0.3s ease; /* Transisi perubahan warna */
}

/* Style saat tombol dihover */
.custom-btn-awal:hover {
    background-color: #000000; /* Warna hitam saat dihover */
}

/* Style saat tombol diklik */
.custom-btn-awal:active {
    background-color: #000000; /* Warna hitam saat diklik */
    transform: scale(0.98); /* Efek tekan saat diklik */
}
/* Section Icons */
.section-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    z-index: 1;
    animation: float 6s infinite ease-in-out;
}

.left-icon {
    left: -60px; /* Posisi di kiri */
}

.right-icon {
    right: -60px; /* Posisi di kanan */
}

@keyframes float {
    0%, 100% {
        transform: translateY(-50%) rotate(0deg);
    }
    50% {
        transform: translateY(-60%) rotate(10deg);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .section-icon {
        width: 36px;
        height: 36px;
    }

    .left-icon {
        left: -40px;
    }

    .right-icon {
        right: -40px;
    }
}
